:root {
  --white: white;
  --untitled-ui--gray800: #1d2939;
  --pink: #ff008e;
  --untitled-ui--primary700: #6941c6;
  --untitled-ui--primary600: #7f56d9;
  --untitled-ui--gray500: #667085;
  --untitled-ui--primary100: #f4ebff;
  --untitled-ui--gray100: #f2f4f7;
  --untitled-ui--gray300: #d0d5dd;
  --untitled-ui--white: white;
  --untitled-ui--gray600: #475467;
  --untitled-ui--gray700: #344054;
  --untitled-ui--gray900: #101828;
  --untitled-ui--gray50-2: #f9fafb;
}
